{% extends "base.html" %}
{% block content %}
<h1 >{{ name }}'s Reminders</h1>
<h3>{{ phone }}</h3>
<br>
<div style="margin-left:15px;margin-right:15px;">
<table class="table table-bordered table-hover">
    {% if reminders %}
        {% for column in columns %}
            <th class="info" style="text-align: center; font-size: 150%;">
                {% set col_name = column.split('_') %}
                {{ col_name|join(" ")|title() }}
            </th>
        {% endfor %}
        {% for reminder in reminders %}
            <tr class="active" style="font-size: 125%;">
                {% for col in columns %}
                <td>
                    {% if reminder.get(col, None) == True %}
                        {{ 'Success' }}
                    {% else %}
                        {{ reminder.get(col, None) or 'None' }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
    <p>No stats logs</p>
    {% endif %}

</table>

{% endblock %}